<%= render(partial: '/tickets/navpills') %>

<div class="container-fluid">
	<br><br><br>
	<h1 class="text-center">Grupos</h1>	
	<%= link_to "Nuevo Grupo", new_ticket_group_path, class: "btn btn-primary" %>
</div>