<br><br>
<div class="container">
	<div class="card">
		<h1 class="text-center">Crear Correo de Notificación</h1>
	    <hr>|
		<%= render 'ant_saldos_mails_form' %>

		<%= link_to 'Regresar', '/ant_saldos_mails' %>
	</div>
</div>
