<br>
<%= render(partial: '/tableros/navpills') %>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">

  <h3>
      <%= @usuario['NombreUsuario'] %>
  </h3>

  <p>
    <strong>IdLayout:</strong>
    <strong><%= @usuario['IdLayout'] %></strong>
  </p>
  
</div>