<br><br>
<div class="col-md-8 col-md-offset-2 card">

	<h1 class="text-center">Crear Usuario a Notificar</h1>
    
	<%= render 'mails_form' %>

	<%= link_to 'Regresar', '/notificaciones/mails' %>

</div>
