<br><br>
<%= render(partial: '/notificaciones/navpills') %>
<br><br>
<div class="card container">
	<h1 class="text-center">Editar Webhook</h1>
	<hr>
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 center-block inner-top-sm">

		<%= render 'form' %>

		<%= link_to 'Regresar', notificaciones_webhooks_path %>

	</div>
</div>