<div class="col-md-12">

	<h1>Revisión</h1>

	<div class="form-inputs loader-form">

	    <div class="row">
	      <div class="form-group">
	        <div class="col-md-12">
	            <%= text_area_tag 'reporte', @revision["Revision"], size: "50x20", class: "form-control", disabled: true %>
	        </div>
	      </div>
	    </div>
	  
	</div>

	<div class="col-md-12">

		<%= link_to 'Regresar', '/revisiones' %>

	</div>
</div>