<div class="col-sm-6 col-sm-offset-3">

	<h1 class="text-center">Revisiones a Sucursal</h1>

	<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped" id="example">

	  <thead>
	    <tr>
	      <th>Sucursal</th>
	      <th>Fecha</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @revisiones.each do |i| %>
	      <tr>
	        <td><%= getSucursal(i['Sucursal']) %></td>
	        <td><%= i['FechaCreacion'].to_s[0..10] %></td>
	        <td>
	        	<%= link_to 'Ver', "/revisiones_show?id=#{i['IdRevision']}", class: "btn btn-xs btn-primary" %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>
	<%= link_to "Crear Revisión", "/revisiones_new", class: "btn btn-primary" %></td>

</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>

