<div class="col-md-6 col-md-offset-3">

	<h1>Editar Reporte de Problemas</h1>
    
	<%= render 'form' %>

	<%= link_to 'Ver', @reporte_de_problema %> |
	<%= link_to 'Regresar', reporte_de_problemas_path %>

</div>
