<div class="col-md-6 col-md-offset-3">
	<center>
		<h1>Personalizar Menú</h1>
	</center>

	<small>
		<a href="/">Regresar</a>
	</small>
	<br>
	<br>

	<div class="table_container">
		<%= render "personalizar_menu_table" %>
	</div>
</div>
