<% if tipoMedidor == 'GaugePorcentual' %>
  <div class="wrapper">
    <div class="box">
      <div id="g<%= id.to_s.gsub("-", "") %>" class="gauge-v2"></div>
    </div>
  </div>
<% else %>
  <div class="wrapper">
      <div id="c<%= id.to_s.gsub("-", "") %>" class="gauge-v2" style="height: 170px; width: 100%;"></div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $.getScript('/tableros/medidores_display_medidor?id=<%= id %>');
  });
</script>
