<div class="col-md-9 col-sm-offset-1 col-md-offset-2">
	<div class="cabecera">
	  <p align=center class="titulo1">Nueva Carpeta รณ Documento</p>
	  <% @tituloArm = ""
	    arma_Titulo(@cveantnew) %>
	  <p class="titulo2"><%= @tituloArm if params.has_key?(:cveant) %></p>
	</div>
	<br>
	<p>
 	  <a class="btn pull-left btn-primary btn-xs" href="/documentos_admin?cveant=<%=@cveantnew%>" role="button"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</p> 

	<%= render 'form' %>
</div>