<tr>
  <td>
    <strong><%= i %></strong>
  </td>
  <td>
  </td>
  <td>
    <span style="color:#D3D3D3" class="glyphicon glyphicon-minus"></span>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
