<br><br>
<div class="container">
	<div class="card">
		<h1 class="text-center">Crear Correo de Notificación</h1>
		<hr>
		<%= render 'contenedores_mails_form' %>

		<%= link_to 'Regresar', '/contenedores_mails' %>
	</div>
</div>
