<br><br>
<div class="container">
	<div class="card">
		<h1 class="text-center">Crear Checklist</h1>
		<hr>
		<%= render 'form' %>

		<div class="col-md-12">

			<%= link_to 'Regresar', '/supervisiones/checklists' %>

		</div>
	</div>
</div>