<br><br>
<div class="container">
	<div class="card">
		<h1 class="text-center">Crear Correo de Notificación</h1>
		<hr>    
		<%= render 'bajas_mails_form' %>

		<%= link_to 'Regresar', '/bajas_mails' %>
	</div>
</div>
