<br>
<%= render(partial: '/auths/navpills') %>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">

  <h3>
      <%= @solicitud['Nombre'] %>
  </h3>

  <p>
    <strong>Id Tipo de Solicitud:</strong>
    <strong><%= @solicitud['IdTipoSolicitud'] %></strong>
  </p>

</div>