<br><br>
<div class="container">
	<div class="card">
		<h1 class="text-center">Nueva App con Niveles Especiales</h1>
		<hr>
		<br><br>
		<%= render 'form' %>
		<br><br>
		<%= link_to 'Regresar', app_nivels_path %>
	</div>
</div>
