<div class="col-md-10 col-md-offset-1">
	<h1>Ayuda Comprobantes de Nómina</h1>
	<br>

	<h2>Ingresar</h2>

	<p class="lead">Para ingresar al sitio, en la pantalla de <b>Ingresar a mi cuenta</b>, ingrese usuario y contraseña indicados.</p>

	<img src="/ayuda/ayuda_cn_01.png" class="img-responsive" alt="Responsive image">

	<p class="lead">Si ha olvidado su contraseña, y su cuenta es una dirección de email, ingrésela en la pantalla de <b>Olvidó su contraseña</b> y siga las instrucciones que le llegarán a su email. Si no tiene un email dado de alta, deberá ponerse en contacto con Recursos Humanos a través del formulario de Reporte de Problemas, donde se dará un seguimiento a su caso.</p>

	<img src="/ayuda/ayuda_cn_02.png" class="img-responsive" alt="Responsive image">
	<img src="/ayuda/ayuda_cn_02b.png" class="img-responsive" alt="Responsive image">

	<h2>Comprobantes de Nómina</h2>

	<p class="lead">Una vez ingresado en el sitio, será llevado a la pantalla de <b>Comprobantes de Nómina</b>, donde verá todos los comprobantes que ha recibido, y desde donde pueden descargarse en formato PDF o XML.</p>

	<img src="/ayuda/ayuda_cn_03.png" class="img-responsive" alt="Responsive image">

	<p class="lead">Para descargar los comprobantes CFDI, haga click en PDF o XML, y acepte la descarga en su navegador. Los archivos PDF puede imprimirlos desde su computadora, y los archivos XML pueden ser enviados al SAT.</p>

	<img src="/ayuda/ayuda_cn_04.png" class="img-responsive" alt="Responsive image">
	<img src="/ayuda/ayuda_cn_05.png" class="img-responsive" alt="Responsive image">

	<h2>Perfil</h2>

	<p class="lead">En la pantalla de <b>Perfil</b>, seleccionable desde el nombre en la parte superior derecha de la pantalla, usted puede ver su información y cambiar la contraseña ingresando la nueva contraseña, la confirmación de esa nueva contraseña y la contraseña actual.</p>

	<img src="/ayuda/ayuda_cn_06.png" class="img-responsive" alt="Responsive image">
	<img src="/ayuda/ayuda_cn_07.png" class="img-responsive" alt="Responsive image">
	<img src="/ayuda/ayuda_cn_08.png" class="img-responsive" alt="Responsive image">

</div>