
<h3>Cálculo de Objetivos</h3>

<br>
<div class="loader-form">
  <form class="form" role="form">
    <div class="form-group">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Seleccionar Opción</h3>
        </div>
        <div class="panel-body">

            <div class="form-actions">
              <div class="pull-left text-left">
                <medium>
                  <a href="/calc_objetivos_objetivo/">Objetivo</a>
                  <br>
                  <a href="/calc_objetivos_estadistica/">Estadística de Ventas</a>
                  <br>
                  <a href="/calc_objetivos_analisis/">Análisis de Resultados</a>
                  <br>      
                </medium>
              </div>
            </div>

        </div>
      </div>

    </div>
  </form>
</div>
